<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for item in item_list %}
    <p><a href="#" class="an_item" data-your-unique-id="{{ item.unique_id }}">Click here for {{item.name}}</a></p>
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
    
        $('.an_item').click(function() {

            var unique_id = $(this).data('your-unique-id');
            
            $.getJSON({
                url: '/your_endpoint/'+unique_id,
                type: 'GET',
                success: function (response) {
                    console.log(response)
                },
                contentType: 'application/json; charset=utf-8'
            });

        })

    </script>


</body>
</html>